@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*,*:before,*:after {
	outline: 1px solid #919191;
}*/
.black-60 {
  color: #919191;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background: #1E1E1E;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  opacity: 0.7;
}

.container {
  max-width: 100%;
  padding: 0px;
}

.wrap {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* 413.98px */
@media (max-width: 413.98px) {
  .container {
    padding: 0 12px;
  }
  .wrap {
    padding: 0;
  }
}
.TC-d02-b {
  font-size: 120px;
  font-weight: 900;
}

.TC-d03-b {
  font-size: 80px;
  font-weight: 900;
}

.TC-h01-b {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}

.TC-h03-b {
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
}

.TC-h06-b {
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}

.TC-b-r {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.TC-s-r {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.TC-b-b {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.lh-24 {
  line-height: 24px;
}

.lh-58 {
  line-height: 58px;
}

.lh-90 {
  line-height: 90px;
}

.lh-144 {
  line-height: 144px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-100 {
  margin-right: 100px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-160 {
  margin-top: 160px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-160 {
  margin-bottom: 160px;
}

.gap-24 {
  gap: 24px;
}

.icon-fz80 {
  font-size: 80px;
}

.icon-fz24 {
  font-size: 24px;
}

.icon-fz16 {
  font-size: 16px;
}

.ws-nw {
  white-space: nowrap;
}

.ls-ti {
  letter-spacing: -0.9px;
}

.none {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
  position: relative;
}
.navbar a > img {
  height: 40px;
}

.navbar-menu {
  display: flex;
}

.start-btn {
  background: #020202;
  padding: 20px 40px;
  border: 1px solid #ffffff;
  border-radius: 16px;
}

.deco-animation {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}
.deco-animation img {
  height: 180px;
}

/* 電腦版不顯示 */
.navbar-btn {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #ffffff;
}
.navbar-btn:hover {
  transform: scale(1.1);
}

.p-tag a {
  color: #020202;
}

/* 992px */
@media (max-width: 992px) {
  .break-rwd992 {
    display: inline-block;
  }
  .container {
    padding: 0 20px;
  }
}
/* 767.98px */
@media (max-width: 767.98px) {
  .navbar-banner h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 110%;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-btn {
    display: block;
  }
  .deco-animation img {
    width: 33.3333333333%;
    height: auto;
  }
}
/* 575.98px */
@media (max-width: 575.98px) {
  .navbar-banner h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 900;
  }
  .navbar a > img {
    height: 24px;
  }
}
/* 413.98px */
@media (max-width: 413.98px) {
  .navbar-banner h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
  }
}
.service-title {
  display: flex;
  justify-content: space-between;
}
.service-title p {
  width: 856px;
}

.service-card {
  margin: 80px 0 160px;
  display: flex;
  gap: 24px;
}

.sc-item {
  width: 33.33%;
  padding: 80px 40px;
  border-radius: 16px;
  border: 1px solid #525252;
  flex-grow: 1;
}

/* 992px */
@media (max-width: 992px) {
  .service-title {
    flex-direction: column;
  }
  .service-title h2 {
    margin-bottom: 20px;
  }
  .service-title p {
    width: 100%;
  }
  .service-card {
    flex-wrap: wrap;
  }
}
/* 414px */
@media (max-width: 576px) {
  .service-title h2 {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
  }
  .service-title p {
    font-size: 30px;
    font-weight: 900;
    line-height: 38px;
  }
  .service-card {
    flex-direction: column;
  }
  .sc-item {
    width: 100%;
  }
}
.partner-logo {
  margin-top: 80px;
  position: relative;
}
.partner-logo::before, .partner-logo::after {
  content: "";
  position: absolute;
  width: 196px;
  height: 100px;
  top: 0;
}
.partner-logo::before {
  left: 0;
  background: linear-gradient(to right, rgb(30, 30, 30), rgba(0, 0, 0, 0));
}
.partner-logo::after {
  right: 0;
  background: linear-gradient(to left, rgb(30, 30, 30), rgba(0, 0, 0, 0));
}
.partner-logo ul {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
  overflow-x: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.partner-logo ul a {
  display: block;
  width: 160px;
  height: 40px;
}
.partner-logo ul::-webkit-scrollbar {
  display: none;
}

.swiper {
  padding-bottom: 60px;
}

.sr-card {
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 16px;
  color: #f2f2f2;
  background: rgba(255, 255, 255, 0.08);
}
.sr-card .grade {
  display: flex;
  gap: 4px;
}
.sr-card .comment {
  height: 215px;
}
.sr-card .recommender {
  display: flex;
}
.sr-card .recommender img {
  width: 48px;
  height: 48px;
}
.sr-card .recommender .r-name {
  display: flex;
  flex-direction: column;
}

.swiper-pagination .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}

.swiper-pagination-bullet {
  background-color: #525252;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}

/* 414px */
@media (max-width: 414px) {
  .partner {
    margin-top: 120px;
  }
  .partner-logo {
    margin-top: 40px;
  }
  .partner-title h3 {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
  }
  .swiper {
    margin-top: 48px;
  }
}
.tool {
  width: 100%;
  background: #ffffff;
  border-radius: 160px;
  padding: 160px 20px;
  color: #020202;
  text-align: center;
}
.tool .tool-content {
  max-width: 1296px;
  margin: 0 auto;
}

/* search-bar */
.input {
  margin: 0 auto;
  position: relative;
}
.input .material-icons {
  margin-right: 12px;
  color: #919191;
  position: absolute;
  top: 20px;
  left: 40px;
}
.input .search-bar {
  width: 100%;
  height: 64px;
  border-radius: 16px;
  border: none;
  padding: 20px 40px 20px 76px;
  color: #919191;
  background: #f2f2f2;
}

/* filter, sort and select */
.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-btn, .select-btn {
  padding: 20px 40px;
  border-radius: 16px;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
}
.filter-btn .material-icons, .select-btn .material-icons {
  font-size: 16px;
  margin-left: 12px;
}
.filter-btn:hover, .select-btn:hover {
  border-color: #020202;
}

.sort-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.sort-btn button {
  padding: 8px 16px;
  border-radius: 16px;
  background: #ffffff;
  text-align: center;
  border: none;
}
.sort-btn button.active, .sort-btn button:hover {
  font-weight: 700;
  color: #020202;
  background: #f2f2f2;
}

.select-new-old {
  position: relative;
}
.select-new-old .dropdown-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 70px;
  padding: 20px 40px;
  border-radius: 16px;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.select-new-old .dropdown-menu a {
  color: #020202;
}
.select-new-old .dropdown-menu a:hover {
  transform: scale(1.1);
  border-color: #020202;
}
.select-new-old .dropdown-menu.show {
  display: block;
}

.product {
  text-align: left;
  gap: 24px 0px;
}
.product .product-card {
  height: 558px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  color: #020202;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  overflow: hidden;
}
.product .product-card .p-cover {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.product .product-card .p-cover .cover-img {
  display: block;
  transition: all 0.5s ease-in-out;
}
.product .product-card .p-cover .cover-img:hover {
  transform: scale(1.2);
}
.product .product-card .p-intro {
  flex-grow: 1;
  padding: 20px 32px;
  border-bottom: 1px solid #f2f2f2;
}
.product .product-card .p-tag {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  border-bottom: 1px solid #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}
.pagination button {
  display: block;
  width: 48px;
  height: 48px;
  color: #020202;
  background: #ffffff;
  border-radius: 16px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
}
.pagination button .material-icons {
  font-size: 5px;
}
.pagination button.active {
  color: #ffffff;
  background-color: #020202;
}
.pagination button:hover {
  color: #ffffff;
  background: #020202;
}

/* 992px */
@media (max-width: 992px) {
  .break-rwd992 {
    display: block;
  }
  .tool {
    border-radius: 80px;
    padding: 80px 20px;
  }
}
/* 767.98px */
@media (max-width: 767.98px) {
  .tool-title h2 {
    font-size: 70px;
    font-weight: 900;
    line-height: 80px;
  }
  .filter {
    flex-wrap: wrap;
    align-items: center;
  }
  .select-new-old {
    order: 2;
  }
  .sort-btn {
    margin-top: 24px;
    order: 3;
    justify-content: center;
    flex-grow: 1;
    overflow-x: scroll;
    /* Hide scrollbar for Chrome, Safari and Opera */
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .sort-btn::-webkit-scrollbar {
    display: none;
  }
  .sort-btn button {
    white-space: nowrap;
  }
}
/* 639.98px */
@media (max-width: 639.98px) {
  .tool {
    border-radius: 60px;
    padding: 60px 20px;
  }
  .sort-btn {
    justify-content: start;
  }
}
/* 575.98px */
@media (max-width: 575.98px) {
  .tool-content {
    width: 100%;
  }
  .tool-title {
    margin-bottom: 40px;
  }
  .tool-title h2 {
    font-size: 35px;
    font-weight: 900;
    line-height: 40px;
  }
  .filter-btn, .select-btn {
    padding: 10px 20px;
  }
  .product {
    flex-direction: column;
  }
  .product-card {
    width: 100%;
  }
  .product-card .cover-img {
    width: 100%;
    height: auto;
  }
}
/* 374.98px */
@media (max-width: 374.98px) {
  .tool {
    border-radius: 40px;
    padding: 40px 20px;
  }
  .tool-title {
    margin-bottom: 30px;
  }
  .pagination {
    gap: 0;
  }
}
.action {
  padding: 160px 0;
}

.action-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.action-title h2 {
  text-align: center;
}

.action-btn {
  color: #ffffff;
  background-color: #020202;
  padding: 20px 40px;
  border: 1px solid #ffffff;
  border-radius: 16px;
}
.action-btn .material-icons {
  font-size: 15px;
}

/* 576px */
@media (max-width: 575.98px) {
  .break-rwd576 {
    display: block;
  }
  .action {
    padding: 80px 0;
  }
}
/* 414px */
@media (max-width: 413.98px) {
  .action {
    padding: 40px 0;
  }
  .action-title h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
  }
}
.footer {
  padding: 0 20px;
}

.footer-top {
  padding: 80px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
}
.footer-top .footer-logo {
  display: block;
  width: 245px;
  height: 40px;
  white-space: nowrap;
}

.footer-buttom {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.friendlink {
  display: flex;
  align-items: center;
  gap: 20px;
}

.backtotop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
  background-color: #1E1E1E;
  border: 0;
}
.backtotop .material-icons {
  font-size: 10px;
}
.backtotop:hover {
  cursor: pointer;
}

/* 639.98px */
@media (max-width: 639.98px) {
  .footer-buttom {
    flex-wrap: wrap;
  }
  .copyright {
    order: 1;
  }
  .backtotop {
    order: 2;
  }
  .friendlink {
    order: 3;
  }
}
/* 575.98 */
@media (max-width: 575.98px) {
  .footer-top {
    flex-direction: column;
  }
  .footer-menu a {
    white-space: nowrap;
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
  }
  .footer-logo {
    margin-bottom: 40px;
    order: -1;
  }
}/*# sourceMappingURL=all.css.map */