@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  outline: 1px solid #919191;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  background: #1E1E1E;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  opacity: 0.7;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.TC-d02-b {
  font-size: 120px;
  font-weight: 900;
}

.TC-d03-b {
  font-size: 80px;
  font-weight: 900;
}

.TC-h01-b {
  font-size: 48px;
  font-weight: 900;
}

.TC-h03-b {
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
}

.TC-h06-b {
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}

.TC-b-r {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.TC-s-r {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.TC-b-b {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.lh-24 {
  line-height: 24px;
}

.lh-58 {
  line-height: 58px;
}

.lh-144 {
  line-height: 144px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-100 {
  margin-right: 100px;
}

.ml-16 {
  margin-left: 16px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-160 {
  margin-top: 160px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-160 {
  margin-bottom: 160px;
}

.gap-24 {
  gap: 24px;
}

.icon-fz80 {
  font-size: 80px;
}

.icon-fz24 {
  font-size: 24px;
}

.icon-fz16 {
  font-size: 16px;
}

.ws-nw {
  white-space: nowrap;
}

.ls-ti {
  letter-spacing: -0.9px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
  position: relative;
}
.navbar a > img {
  height: 40px;
}

.navbar-menu {
  display: flex;
}

.start-btn {
  background: #020202;
  padding: 20px 40px;
  border: 1px solid #ffffff;
  border-radius: 16px;
}
.start-btn:hover {
  opacity: 0.7;
}

.deco-animation {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}
.deco-animation img {
  height: 180px;
}

/* 電腦版不顯示 */
.navbar-btn {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #ffffff;
}
.navbar-btn:hover {
  transform: scale(1.1);
}

.navbar-menu-collapse {
  display: none;
  position: absolute;
  background-color: #1e1e1e;
  width: 100%;
  top: 190px;
  height: calc(100vh - 84px);
}

/* 992px */
@media (max-width: 992px) {
  .break-rwd992 {
    display: inline-block;
  }
  .container {
    padding: 0 20px;
  }
}
/* 767px */
@media (max-width: 767px) {
  .navbar-banner h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 110%;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-btn {
    display: block;
  }
}
/* 414px */
@media (max-width: 414px) {
  .navbar-banner h1 {
    font-size: 42px;
    line-height: 58px;
    font-weight: 900;
  }
  .navbar a > img {
    height: 24px;
  }
  .deco-animation img {
    width: 33.3333333333%;
    height: auto;
  }
}
.service-title {
  display: flex;
  justify-content: space-between;
}
.service-title p {
  width: 856px;
}

.service-card {
  margin: 80px 0 160px;
}

.sc-item {
  padding: 80px 40px;
  border-radius: 16px;
  border: 1px solid #525252;
}

.swiper {
  padding-bottom: 36px;
}

.swiper-pagination .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}

.swiper-pagination-bullets {
  background-color: #525252;
  opacity: 1;
}

.swiper-pagination-bullets-active {
  width: 12px;
  height: 12px;
  background-color: #fff;
}

/* 992px */
@media (max-width: 992px) {
  .service-title {
    flex-direction: column;
  }
  .service-title h2 {
    margin-bottom: 20px;
  }
  .service-title p {
    width: 100%;
  }
}
/* 414px */
@media (max-width: 414px) {
  .service-title h2 {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
  }
  .service-title p {
    font-size: 30px;
    font-weight: 900;
    line-height: 38px;
  }
}
.partner-logo {
  margin-top: 80px;
  position: relative;
}
.partner-logo::before, .partner-logo::after {
  content: "";
  position: absolute;
  width: 196px;
  height: 100px;
  top: 0;
}
.partner-logo::before {
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.partner-logo::after {
  right: 0;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.partner-logo ul {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
  overflow-x: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.partner-logo ul a {
  display: block;
  width: 160px;
  height: 40px;
}
.partner-logo ul::-webkit-scrollbar {
  display: none;
}

.swiper {
  max-width: 1320px;
  margin: 0 auto;
  padding-bottom: 36px;
}

.sr-card {
  padding: 40px;
  border-radius: 16px;
  color: #f2f2f2;
  background: rgba(255, 255, 255, 0.08);
}
.sr-card .material-icons {
  font-size: 14px;
  gap: 4px;
}
.sr-card .recommender {
  display: flex;
}
.sr-card .recommender img {
  width: 48px;
  height: 100%;
}
.sr-card .recommender .r-name {
  display: flex;
  flex-direction: column;
}

.customer-pagination {
  display: none;
}

/* 992px */
/* 767px */
/* 414px */
@media (max-width: 414px) {
  .partner-title h2 {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
  }
}
.tool {
  background: #ffffff;
  border-radius: 160px;
  padding: 160px 0;
  color: #020202;
  text-align: center;
}

.tool-search {
  position: relative;
}
.tool-search .material-icons {
  color: #919191;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 50px;
}
.tool-search .search-bar {
  width: 100%;
  height: 64px;
  border-radius: 16px;
  border: none;
  padding: 20px 40px;
  text-indent: 40px;
  color: #919191;
  background: #f2f2f2;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.tool-nav {
  width: 100%;
  margin-top: 168px;
  padding: 20px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tool-nav .filter-s {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 64px;
  padding: 20px 34px 20px 34px;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
}
.tool-nav .filter-s .material-icons {
  font-size: 10px;
}
.tool-nav .filter-tag {
  height: 40px;
  display: flex;
  align-items: center;
}
.tool-nav .filter-tag a {
  color: #919191;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 16px;
  background: #ffffff;
}
.tool-nav .filter-tag a:hover {
  font-size: 16px;
  font-weight: 700;
  color: #020202;
  background: #f2f2f2;
}
.tool-nav .filter-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 64px;
  padding: 20px 34px 20px 34px;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
}
.tool-nav .filter-type .material-icons {
  font-size: 10px;
}

.tool-nav-collapse {
  display: none;
}

.tool-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  gap: 24px;
}
.tool-list .list-item-t {
  width: 416px;
  color: #020202;
  border: 1px solid #f2f2f2;
  border-radius: 0 0 16px 16px;
}
.tool-list .list-item-t img {
  border-radius: 16px 16px 0 0;
}
.tool-list .list-item-t .tool-intro {
  height: 118px;
  padding: 20px 32px;
  border-bottom: 1px solid #f2f2f2;
}
.tool-list .list-item-t .tool-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  border-bottom: 1px solid #f2f2f2;
}
.tool-list .list-item-t .tool-tag a {
  color: #020202;
}
.tool-list .list-item-t .tool-tag a:hover {
  opacity: 0.7;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}
.pagination a {
  display: block;
  width: 48px;
  height: 48px;
  background: #ffffff;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #020202;
  padding: 17px;
}
.pagination a .material-icons {
  font-size: 5px;
}
.pagination a:hover {
  color: #ffffff;
  background: #020202;
}

/* 992px */
/* 767px */
/* 414px */
.action {
  margin-top: 78px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action .action-btn {
  height: 64px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 20px 40px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  text-decoration: none;
}
.action .action-btn .material-icons {
  font-size: 15px;
}
.action .action-btn:hover {
  opacity: 0.7;
}

.action-title-collapse {
  display: none;
}

/* 992px */
/* 767px */
/* 414px */
.footer-nav {
  padding: 80px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
}
.footer-nav .footer-menu a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.footer-nav .footer-menu a:hover {
  opacity: 0.7;
}
.footer-nav img {
  height: 40px;
}

.footer-subnav {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-subnav .subnav-content {
  display: flex;
}
.footer-subnav .subnav-content .friendlink {
  display: flex;
  align-items: center;
}
.footer-subnav .subnav-content .friendlink a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.footer-subnav .subnav-content .friendlink a:hover {
  opacity: 0.7;
}
.footer-subnav .backtotop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-subnav .backtotop a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.footer-subnav .backtotop a:hover {
  opacity: 0.7;
}
.footer-subnav .backtotop .material-icons {
  font-size: 10px;
}

/* 992px */
/* 767px */
/* 414px */
@media (max-width: 375px) {
  .container {
    padding: 0 12px;
  }
  .header-nav {
    padding: 28px 0;
  }
  .header-nav img {
    height: 24px;
  }
  .header-menu {
    display: none;
  }
  .header-nav-btn {
    color: #ffffff;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-banner p {
    width: 252px;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
  }
  .header-banner a {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
  }
  .header-banner .deco-animation img {
    width: 117px;
    height: 117px;
  }
  .service-title {
    display: flex;
    flex-direction: column;
  }
  .service-title .ourservice {
    max-width: 100%;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
  }
  .service-title .ourbelieve {
    max-width: 100%;
    margin-top: 24px;
  }
  .service-title .ourbelieve p {
    max-width: 100%;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
  }
  .service-list {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
  }
  .service-list .list-item-s {
    max-width: 100%;
    padding: 40px 20px;
    margin-bottom: 12px;
  }
  .partner-title {
    margin-top: 120px;
  }
  .partner-logo {
    display: none;
  }
  .partner-logo-collapse {
    display: block;
    position: relative;
  }
  .partner-logo-collapse .mask-left-c {
    width: 82px;
    height: 92px;
    background: linear-gradient(to right, #1e1e1e 20%, transparent 100%);
    position: absolute;
  }
  .partner-logo-collapse .mask-right-c {
    width: 82px;
    height: 92px;
    background: linear-gradient(to left, #1e1e1e 20%, transparent 100%);
    position: absolute;
    right: 0;
  }
  .partner-logo-collapse .logo-row1-c {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .partner-logo-collapse .logo-row1-c img {
    margin: 0 6px 12px;
  }
  .partner-logo-collapse .logo-row2-c {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .partner-logo-collapse .logo-row2-c img {
    margin: 0 6px;
  }
  .partner-list {
    display: none;
  }
  .partner-list-collapse {
    margin-top: 48px;
    width: 351px;
    padding: 20px;
    border-radius: 16px;
    color: #f2f2f2;
    background: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
  }
  .partner-list-collapse .star img {
    width: 13.33px;
    height: auto;
    margin-right: 5.33px;
  }
  .partner-list-collapse .content {
    width: 311px;
    height: 144px;
  }
  .partner-list-collapse .customer {
    display: flex;
  }
  .partner-list-collapse .customer img {
    width: 48px;
    height: auto;
  }
  .partner-list-collapse .customer .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
  }
  .customer-pagination {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .customer-pagination a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 4px;
  }
  .customer-pagination a:hover {
    font-size: 8px;
    color: #525252;
    transform: scale(1.1);
    opacity: 0.7;
  }
  .customer-pagination a .material-icons {
    font-size: 12px;
  }
  .tool {
    margin-top: 120px;
    padding: 80px 12px;
    background: #ffffff;
    border-radius: 20px;
  }
  .tool-title p {
    font-size: 32px;
    line-height: 38px;
    font-weight: 900;
    text-indent: -20px;
    padding: 20px 20px 20px 40px;
  }
  .tool .tool-search {
    margin-top: 32px;
  }
  .tool-nav {
    display: none;
  }
  .tool-nav-collapse {
    margin-top: 112px;
    display: flex;
    flex-direction: column;
  }
  .tool-nav-collapse .filter-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tool-nav-collapse .filter-c .filter-s-c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 64px;
    padding: 20px 34px 20px 34px;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
  }
  .tool-nav-collapse .filter-c .filter-s-c .material-icons {
    font-size: 10px;
  }
  .tool-nav-collapse .filter-c .filter-type-c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 64px;
    padding: 20px 34px 20px 34px;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
  }
  .tool-nav-collapse .filter-c .filter-type-c .material-icons {
    font-size: 10px;
  }
  .tool-nav-collapse .filter-tag-c {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  .tool-nav-collapse .filter-tag-c a {
    margin-right: 8px;
    height: 40px;
    white-space: nowrap;
    display: block;
    color: #919191;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 16px;
    background: #ffffff;
  }
  .tool-nav-collapse .filter-tag-c a:hover {
    font-size: 16px;
    font-weight: 700;
    color: #020202;
    background: #f2f2f2;
  }
  .tool-list {
    margin-top: 48px;
    gap: 12px;
  }
  .tool-list .list-item-t {
    max-width: 100%;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
  }
  .tool-list .list-item-t .tool-intro {
    height: auto;
    padding: 20px 32px;
  }
  .action {
    margin-top: 40px;
    padding: 120px 75px 160px;
  }
  .action .action-title {
    display: none;
  }
  .action .action-title-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    padding: 80px 0 0;
  }
  .footer .footer-nav {
    position: relative;
  }
  .footer .footer-nav img {
    position: absolute;
    top: 80;
    left: 0;
  }
  .footer .footer-nav .footer-menu {
    margin-top: 120px;
    font-size: 48px;
    font-weight: 900;
  }
  .footer .footer-nav .footer-menu a {
    margin-bottom: 8px;
  }
  .footer .footer-nav .footer-menu a:hover {
    opacity: 0.7;
  }
  .footer .footer-subnav {
    padding: 32px 0;
    position: relative;
  }
  .footer .footer-subnav .subnav-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  .footer .footer-subnav .backtotop {
    position: absolute;
    top: 32px;
    right: 12px;
  }
}/*# sourceMappingURL=all.css.map */