.action {
    padding: 160px 0;
}
.action-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        text-align: center;
    }
}
.action-btn {     
    color: $black-0;
    background-color: $black-100;
    padding: 20px 40px;
    border: 1px solid $black-0;
    border-radius: 16px;
    .material-icons {
        font-size: 15px;
    }
    &:hover {
        opacity: 0.7;
    }
}

/* 576px */
@media (max-width: 575.98px) {
    .break-rwd576 {
        display: block;
    }
    .action {
        padding: 80px 0;
    }
}

/* 414px */
@media (max-width: 413.98px) {
    .action {
        padding: 40px 0;
    }
    .action-title h2 {
        font-size: 32px;
        font-weight: 900;
        line-height: 38px;
    }
}