//-- font size --//
.TC-d02-b {
    font-size: 120px;
    font-weight: 900;
}
.TC-d03-b {
    font-size: 80px;
    font-weight: 900;
}
.TC-h01-b {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
}
.TC-h03-b {
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
}
.TC-h06-b {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
}
.TC-b-r {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.TC-s-r {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.TC-b-b {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

//-- line height --//
.lh-24 {
    line-height: 24px;
}
.lh-58 {
    line-height: 58px;
}
.lh-90 {
    line-height: 90px;
}
.lh-144 {
    line-height: 144px;
}

//-- margin right --//
.mr-12 {
    margin-right: 12px;
}
.mr-16 {
    margin-right: 16px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-24 {
    margin-right: 24px;
}
.mr-100 {
    margin-right: 100px;
}

//-- margin left --//
.ml-12 {
    margin-left: 12px;
}
.ml-16 {
    margin-left: 16px;
}

//-- margin top --//
.mt-12 {
    margin-top: 12px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-24 {
    margin-top: 24px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-160 {
    margin-top: 160px;
}

//-- margin bottom --//
.mb-8 {
    margin-bottom: 8px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-160 {
    margin-bottom: 160px;
}

.gap-24 {
    gap: 24px;
}


// icon //
.icon-fz80 {
	font-size: 80px;
}
.icon-fz24 {
	font-size: 24px;
}
.icon-fz16 {
	font-size: 16px;
}


//-- white space --//
.ws-nw {
    white-space: nowrap;
}

//-- letter spacing --//
.ls-ti {
    letter-spacing: -0.9px;
}

//-- display: none --//
.none {
    display: none;
}

