.footer {
    padding: 0 20px;
}
.footer-top {
    padding: 80px 0;
    border-top: 1px solid $black-0;
    border-bottom: 1px solid $black-0;
    display: flex;
    justify-content: space-between;
    .footer-logo {
        display: block;
        width: 245px;
        height: 40px;
        white-space: nowrap;
    }
}
.footer-buttom {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fb-content {
        display: flex;
        .friendlink {
            display: flex;
            align-items: center;
        } 
    }
    .backtotop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .material-icons {
            font-size: 10px;
        }
    }
}

/* 992px */
@media (max-width: 992px) {

}
/* 767px */
@media (max-width: 767px) {

}
/* 414px */
@media (max-width: 414px) {

}