.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $black-0;
    position: relative;
    a > img {
        height: 40px;
    }
}
.navbar-menu{
    display: flex;
}
.start-btn {
    background: $black-100;
    padding: 20px 40px;
    border: 1px solid $black-0;
    border-radius: 16px;
    &:hover {
        opacity: 0.7;
    }
}
.deco-animation{
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    img {
        height: 180px;
    }
}

 /* 電腦版不顯示 */
.navbar-btn {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: $black-0;
    &:hover {
        transform: scale(1.1);
    }
}
.navbar-menu-collapse {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    width: 100%;
    top: 190px;
    height: calc(100vh - 84px);
}



/* 992px */
@media (max-width: 992px) {
    .break-rwd992 {
        display: inline-block;
    }
    .container {
        padding: 0 20px;
    }
}
/* 767px */
@media (max-width: 767px) {
    .navbar-banner h1 {
        font-size: 100px;
        font-weight: 900;
        line-height: 110%;
    }
    .navbar-menu {
        display: none;
    }
    .navbar-btn {
        display: block;
    }
}

/* 414px */
@media (max-width: 414px) {
    .navbar-banner h1 {
        font-size: 42px;
        line-height: 58px;
        font-weight: 900;
    }
    .navbar a > img {
        height: 24px;
    }
    .deco-animation img {
        width: calc(100% / 3);
        height: auto;
    }
}