.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid $black-0;
    position: relative;
    a > img {
        height: 40px;
    }
}
.navbar-menu{
    display: flex;
}
.start-btn {
    background: $black-100;
    padding: 20px 40px;
    border: 1px solid $black-0;
    border-radius: 16px;
}
.deco-animation{
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    img {
        height: 180px;
    }
}

 /* 電腦版不顯示 */
.navbar-btn {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: $black-0;
    &:hover {
        transform: scale(1.1);
    }
}
.p-tag {
    a {
        color: $black-100;
    }
}


/* 992px */
@media (max-width: 992px) {
    .break-rwd992 {
        display: inline-block;
    }
    .container {
        padding: 0 20px;
    }
}
/* 767.98px */
@media (max-width: 767.98px) {
    .navbar-banner h1 {
        font-size: 100px;
        font-weight: 900;
        line-height: 110%;
    }
    .navbar-menu {
        display: none;
    }
    .navbar-btn {
        display: block;
    }
    .deco-animation img {
        width: calc(100% / 3);
        height: auto;
    }
}

/* 575.98px */
@media (max-width: 575.98px) {
    .navbar-banner h1 {
        font-size: 60px;
        line-height: 70px;
        font-weight: 900;
    }
    .navbar a > img {
        height: 24px;
    }
}

/* 413.98px */
@media (max-width: 413.98px) {
    .navbar-banner h1 {
        font-size: 50px;
        line-height: 60px;
        font-weight: 900;
    }
}