.partner-logo {
    margin-top: 80px;
    position: relative;
    &::before, &::after {
        content: '';
        position: absolute;
        width: 196px;
        height: 100px;
        top: 0;
    }
    &::before {
        left: 0;
        background: linear-gradient(to right, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
    }
    &::after {
        right: 0;
        background: linear-gradient(to left, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
    }
    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        gap: 20px;
        overflow-x: scroll;
        a {
            display: block;
            width: 160px;
            height: 40px;
        }
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
.partner-card {
    display: flex;
    justify-content: space-between;
}
.pc-item {
    padding: 40px;
    border-radius: 16px;
    color: $black-20;
    background: rgba(255, 255, 255, 0.08);
    .star img{
        width: 13.33px;
        height: auto;
        margin-right: 5.33px;
    }
    .content{
        width: auto;
        height: 215px;
    }
    .customer {
        display: flex;
        img {
            width: 48px;
            height: auto;
        }
    }
}
.customer-pagination {
    display: none;
}

/* 992px */
@media (max-width: 992px) {

}
/* 767px */
@media (max-width: 767px) {

}
/* 414px */
@media (max-width: 414px) {
    .partner-title {
        h2 {
            font-size: 20px;
            font-weight: 900;
            line-height: 24px;
        }
    }

}