.partner-logo {
    margin-top: 80px;
    position: relative;
    &::before, &::after {
        content: '';
        position: absolute;
        width: 196px;
        height: 100px;
        top: 0;
    }
    &::before {
        left: 0;
        background: linear-gradient(to right, rgb(30, 30, 30), rgba(0, 0, 0, 0));
    }
    &::after {
        right: 0;
        background: linear-gradient(to left, rgb(30, 30, 30), rgba(0, 0, 0, 0));
    }
    ul {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        gap: 20px;
        overflow-x: scroll;
        a {
            display: block;
            width: 160px;
            height: 40px;
        }
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
.swiper {
    padding-bottom: 60px;
}
.sr-card {
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 16px;
    color: $black-20;
    background: rgba(255, 255, 255, 0.08);
    .grade {
        display: flex;
        gap: 4px;
    }
    .comment {
        height: 215px;
    }
    
    .recommender {
        display: flex;
        img {
            width: 48px;
            height: 48px;
        }
        .r-name {
            display: flex;
            flex-direction: column;
        }
    }
}
.swiper-pagination .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}
.swiper-pagination-bullet {
    background-color: $black-80;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: $black-0;
}

/* 414px */
@media (max-width: 414px) {
    
    .partner {
        margin-top: 120px;
    }
    .partner-logo {
        margin-top: 40px;
    }
    .partner-title {
        h3 {
            font-size: 20px;
            font-weight: 900;
            line-height: 24px;
        }
    }
    .swiper {
        margin-top: 48px;
    }
}