.service-title {
    display: flex;
    justify-content: space-between;
    p {
        width: 856px;
    }
}
.service-card {
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
    gap: 24px;
    .sc-item {
        width: 416px;
        margin: 0;
        padding: 80px 40px;
        border: 1px solid $black-80;
        border-radius: 16px;
    }
}

/* 992px */
@media (max-width: 992px) {
    .service-title {
        flex-direction: column;
        h2 {
            margin-bottom: 20px;
        }
        p {
            width: 100%;
        }
    }
}

/* 414px */
@media (max-width: 414px) {
    .service-title {
        h2 {
            font-size: 20px;
            font-weight: 900;
            line-height: 24px;

        }
        p {
            font-size: 30px;
            font-weight: 900;
            line-height: 38px;
        }
    }

}

