.service-title {
    display: flex;
    justify-content: space-between;
    p {
        width: 856px;
    }
}
.service-card {
    margin: 80px 0 160px;
    display: flex;
    gap: 24px;
}
.sc-item {
    width: 33.33%;
    padding: 80px 40px;
    border-radius: 16px;
    border: 1px solid $black-80;
    flex-grow: 1;
}



/* 992px */
@media (max-width: 992px) {
    .service-title {
        flex-direction: column;
        h2 {
            margin-bottom: 20px;
        }
        p {
            width: 100%;
        }
    }
    .service-card {
        flex-wrap: wrap;
    }
}

/* 414px */
@media (max-width: 576px) {
    .service-title {
        h2 {
            font-size: 20px;
            font-weight: 900;
            line-height: 24px;
        }
        p {
            font-size: 30px;
            font-weight: 900;
            line-height: 38px;
        }
    }
    .service-card {
        flex-direction: column;
    }
    .sc-item {
        width: 100%;
    }

}

