.tool {
    width: 100%;
    background: $black-0;
    border-radius: 160px;
    padding: 160px 20px;
    color: $black-100;
    text-align: center;
}
.input {
    max-width: 1296px;
    margin: 0 auto;
    position: relative;
    .material-icons {
        margin-right: 12px;
        color: $black-60;
        position: absolute;
        top: 20px;
        left: 40px;
    }
    .search-bar {
        width: 100%;
        height: 64px;
        border-radius: 16px;
        border: none;
        padding: 20px 40px 20px 76px;
        color: $black-60;
        background: $black-20;
    }
}
.tool-nav {
    width: 100%;
    margin-top: 168px;
    padding: 20px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filter-s {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 132px;
        height: 64px;
        padding: 20px 34px 20px 34px;
        border: 1px solid $black-20;
        border-radius: 12px;
        .material-icons{
            font-size: 10px;
        }
    }
    .filter-tag {
        height: 40px;
        display: flex;
        align-items: center;
        a {
            color: $black-60;
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 16px;
            background: $black-0;
            &:hover {
                font-size: 16px;
                font-weight: 700;
                color: $black-100;
                background: $black-20;
            }

        }
    }
    .filter-type {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 164px;
        height: 64px;
        padding: 20px 34px 20px 34px;
        border: 1px solid $black-20;
        border-radius: 12px;
        .material-icons{
            font-size: 10px;
        }
    }
}
.tool-nav-collapse {
    display: none;
}
.tool-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    gap: 24px;
    .list-item-t {
        width: 416px;
        color: $black-100;
        border: 1px solid $black-20;
        border-radius: 0 0 16px 16px;
        img {
            border-radius: 16px 16px 0 0;
        }
        .tool-intro {
            height: 118px;
            padding: 20px 32px;
            border-bottom: 1px solid $black-20;
        }
        .tool-tag {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 32px;
            border-bottom: 1px solid $black-20;
            a {
                color: $black-100;
                &:hover {
                    opacity: 0.7;
                }
            }
        }

    }
}
.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    a {
        display: block;
        width: 48px;
        height: 48px;
        background: $black-0;
        border-radius: 16px;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        color: $black-100;
        padding: 17px;
        .material-icons {
            font-size: 5px;
        }
        &:hover {
            color: $black-0;
            background: $black-100;
        }
        

    }

}

/* 992px */
@media (max-width: 992px) {
    .break-rwd992 {
        display: inline-block;
    }

}
/* 767px */
@media (max-width: 767px) {

}
/* 414px */
@media (max-width: 414px) {

}