.tool {
    width: 100%;
    background: $black-0;
    border-radius: 160px;
    padding: 160px 20px;
    color: $black-100;
    text-align: center;
    .tool-content {
        max-width: 1296px;
        margin: 0 auto;
    }
}
/* search-bar */
.input {
    margin: 0 auto;
    position: relative;
    .material-icons {
        margin-right: 12px;
        color: $black-60;
        position: absolute;
        top: 20px;
        left: 40px;
    }
    .search-bar {
        width: 100%;
        height: 64px;
        border-radius: 16px;
        border: none;
        padding: 20px 40px 20px 76px;
        color: $black-60;
        background: $black-20;
    }
}
/* filter, sort and select */
.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-btn,.select-btn {
    padding: 20px 40px;
    border-radius: 16px;
    border: 1px solid $black-20;
    background-color: $black-0;
    .material-icons{
        font-size: 16px;
        margin-left: 12px;
    }
    &:hover {
        border-color: $black-100;
    }
}
.sort-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    button {
        padding: 8px 16px;
        border-radius: 16px;
        background: $black-0;
        text-align: center;
        border: none;
        &.active,&:hover {
            font-weight: 700;
            color: $black-100;
            background: $black-20;
        }
    }
}
.select-new-old {
    position: relative;
    .dropdown-menu {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 70px;
        padding: 20px 40px;
        border-radius: 16px;
        border: 1px solid $black-20;
        background-color: $black-0;
        white-space: nowrap;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        text-align: center;
        a {
            color: $black-100;
            &:hover {
                transform: scale(1.1);
                border-color: $black-100;
            }
        }
        &.show {
            display: block;
        }
    }
}

.product {
    text-align: left;
    gap: 24px 0px;
    .product-card {
        display: flex;
        flex-direction: column;
        padding: 0px;
        color: $black-100;
        border: 1px solid $black-20;
        border-radius: 16px;
        overflow: hidden;
        .p-cover {
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .cover-img {
                display: block;
                transition: all 1s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        .p-intro {
            height: 118px;
            padding: 20px 32px;
            border-bottom: 1px solid $black-20;
        }
        .p-tag {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 32px;
            border-bottom: 1px solid $black-20;
            a {
                color: $black-100;
                &:hover {
                    opacity: 0.7;
                }
            }
        }

    }
}
.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    button {
        display: block;
        width: 48px;
        height: 48px;
        color: $black-100;
        background: $black-0;
        border-radius: 16px;
        border: 0;
        font-size: 14px;
        font-weight: 700;
        .material-icons {
            font-size: 5px;
        }
        &.active {
            color: $black-0;
            background-color: $black-100;
        }
        &:hover {
            color: $black-0;
            background: $black-100;
        }
    }
}

/* 992px */
@media (max-width: 992px) {
    .break-rwd992 {
        display: inline-block;
    }

}
/* 767px */
@media (max-width: 767px) {

}
/* 414px */
@media (max-width: 414px) {

}