.tool {
    width: 100%;
    background: $black-0;
    border-radius: 160px;
    padding: 160px 20px;
    color: $black-100;
    text-align: center;
    .tool-content {
        max-width: 1296px;
        margin: 0 auto;
    }
}
/* search-bar */
.input {
    margin: 0 auto;
    position: relative;
    .material-icons {
        margin-right: 12px;
        color: $black-60;
        position: absolute;
        top: 20px;
        left: 40px;
    }
    .search-bar {
        width: 100%;
        height: 64px;
        border-radius: 16px;
        border: none;
        padding: 20px 40px 20px 76px;
        color: $black-60;
        background: $black-20;
    }
}
/* filter */
.filter,.new2old {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-btn,.new2old-btn {
    padding: 20px 40px;
    border-radius: 16px;
    border: 1px solid $black-20;
    background-color: $black-0;
    .material-icons{
        font-size: 16px;
        margin-left: 12px;
    }
    &:hover {
        border-color: $black-100;
    }
}
.sort-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    button {
        padding: 8px 16px;
        border-radius: 16px;
        background: $black-0;
        text-align: center;
        border: none;
        &:active,&:hover {
            font-weight: 700;
            color: $black-100;
            background: $black-20;
        }
    }
}
.new2old {
    position: relative;
    .dropdown-menu {
        position: absolute;
        right: 0;
        padding: 20px 40px;
        border-radius: 16px;
        border: 1px solid $black-20;
        background-color: yellow;
        color: $black-100;
        white-space: nowrap;
    }
}


.tool-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    gap: 24px;
    .list-item-t {
        width: 416px;
        color: $black-100;
        border: 1px solid $black-20;
        border-radius: 0 0 16px 16px;
        img {
            border-radius: 16px 16px 0 0;
        }
        .tool-intro {
            height: 118px;
            padding: 20px 32px;
            border-bottom: 1px solid $black-20;
        }
        .tool-tag {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 32px;
            border-bottom: 1px solid $black-20;
            a {
                color: $black-100;
                &:hover {
                    opacity: 0.7;
                }
            }
        }

    }
}
.pagination {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    a {
        display: block;
        width: 48px;
        height: 48px;
        background: $black-0;
        border-radius: 16px;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        color: $black-100;
        padding: 17px;
        .material-icons {
            font-size: 5px;
        }
        &:hover {
            color: $black-0;
            background: $black-100;
        }
        

    }

}

/* 992px */
@media (max-width: 992px) {
    .break-rwd992 {
        display: inline-block;
    }

}
/* 767px */
@media (max-width: 767px) {

}
/* 414px */
@media (max-width: 414px) {

}