// color
$black-100: #020202;
$black-80: #525252;
$black-60: #919191;
$black-40: #d1d1d1;
$black-20: #f2f2f2;
$black-0: #ffffff;
$color-primary: #f18724;
$color-surface: #f2efe7;

// icon
$material-icons-l: 80px;
$material-icons-m: 24px;
$material-icons-s: 16px;