@import "reset";
@import "base";

@import "header";
@import "service";
@import "partner";
@import "tool";
@import "action";
@import "footer";












@media (max-width: 375px) {
    
    .container {
        padding: 0 12px;
    }
    .header-nav {
        padding: 28px 0;
        img {
            height: 24px;
        }
    }
    .header-menu {
        display: none;
    }
    .header-nav-btn {
        color: $black-0;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-banner{
        p {
        width: 252px;
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        }
        a {
            font-size: 20px;
            font-weight: 900;
            line-height: 24px;
        }
        .deco-animation img {
            width: 117px;
            height: 117px;
        }
    }
    .service {
        &-title {
            display: flex;
            flex-direction: column;
            .ourservice {
                max-width: 100%;
                font-size: 20px;
                font-weight: 900;
                line-height: 24px;
            }
            .ourbelieve {
                max-width: 100%;
                margin-top: 24px;
                p {
                    max-width: 100%;
                    font-size: 32px;
                    font-weight: 900;
                    line-height: 38px;
                }
        }

        }
        &-list {
            margin-top: 48px;
            display: flex;
            flex-direction: column;
            .list-item-s {
                max-width: 100%;
                padding: 40px 20px;
                margin-bottom: 12px;
            }
        }
    }
    .partner-title {
            margin-top: 120px;
    }
    .partner-logo {
        display: none;
    }
    .partner-logo-collapse {
        display: block;
        position: relative;
        .mask-left-c {
            width: 82px;
            height: 92px;
            background: linear-gradient(to right, #1e1e1e 20%, transparent 100%);
            position: absolute;
        }
        .mask-right-c {
            width: 82px;
            height: 92px;
            background: linear-gradient(to left, #1e1e1e 20%, transparent 100%);
            position: absolute;
            right: 0;
        }
        .logo-row1-c {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                    margin: 0 6px 12px;
            }
        }
        .logo-row2-c {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                    margin: 0 6px;
            }
        }
    }
    .partner-list {
        display: none;
    }
    .partner-list-collapse {
        margin-top: 48px;
        width: 351px;
        padding: 20px;
        border-radius: 16px;
        color: $black-20;
        background: rgba(255, 255, 255, 0.08);
        display: flex;
        flex-direction: column;
        .star img{
            width: 13.33px;
            height: auto;
            margin-right: 5.33px;
        }
        .content{
            width: 311px;
            height: 144px;
        }
        .customer {
            display: flex;
            img {
                width: 48px;
                height: auto;
            }
            .name {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 16px;
            }
        }
    }
    .customer-pagination {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            display: block;
            color: $black-0;
            text-decoration: none;
            padding: 4px;
            &:hover {
                font-size: 8px;
                color: $black-80;
                transform: scale(1.1);
                opacity: 0.7;
            }
            .material-icons {
                font-size: 12px;
            }
        }
    }
    .tool {
        margin-top: 120px;
        padding: 80px 12px;
        background: $black-0;
        border-radius: 20px;
        &-title {
            p {
                font-size: 32px;
                line-height: 38px;
                font-weight: 900;
                text-indent: -20px;
                padding: 20px 20px 20px 40px;
            }
        }
        .tool-search {
            margin-top: 32px;
        }
        &-nav {
            display: none;
        }
    }
    .tool-nav-collapse {
        margin-top: 112px;
        display: flex;
        flex-direction: column;
        .filter-c {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .filter-s-c {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 132px;
                height: 64px;
                padding: 20px 34px 20px 34px;
                border: 1px solid $black-20;
                border-radius: 12px;
                .material-icons{
                    font-size: 10px;
                }
            }
            .filter-type-c {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 164px;
                height: 64px;
                padding: 20px 34px 20px 34px;
                border: 1px solid $black-20;
                border-radius: 12px;
                .material-icons{
                    font-size: 10px;
                }
            }
        }
        .filter-tag-c {
            margin-top: 16px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow: hidden;
            a {
                margin-right: 8px;
                height: 40px;
                white-space: nowrap;
                display: block;
                color: $black-60;
                text-decoration: none;
                padding: 8px 16px;
                border-radius: 16px;
                background: $black-0;
                &:hover {
                    font-size: 16px;
                    font-weight: 700;
                    color: $black-100;
                    background: $black-20;
                }
        
            }
        }
    }
    .tool-list {
        margin-top: 48px;
        gap: 12px;
        .list-item-t {
            max-width: 100%;
            overflow: hidden;
            border-radius: 16px 16px 0 0;
            .tool-intro {
                height: auto;
                padding: 20px 32px;
            }
        }
    }
    .action {
        margin-top: 40px;
        padding: 120px 75px 160px;
        .action-title {
            display: none;
        }
        .action-title-collapse {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .footer {
        padding: 80px 0 0;
        .footer-nav {
            position: relative;
            img {
                position: absolute;
                top: 80;
                left: 0;
            }
            .footer-menu {
                margin-top: 120px;
                font-size: 48px;
                font-weight: 900;
                a {
                    margin-bottom: 8px;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
        .footer-subnav {
            padding: 32px 0;
            position: relative;
            .subnav-content {
                display: flex;
                flex-direction: column;
                gap: 36px;
            }
            .backtotop {
                position: absolute;
                top: 32px;
                right: 12px;
            }
        }
    }
    
}



    
